---
import { SITE } from '../../config';
import SkipToContent from './SkipToContent.astro';

const { currentPage } = Astro.props;
---

<header class="p-3 bg-slate-100 bg-opacity-80 backdrop-blur-md border-b text-slate-900">
	<SkipToContent />
	<nav title="Top Navigation" class="max-w-7xl mx-auto flex justify-between items-center px-4">
		<div>
			<a class="text-lg font-medium" href="/">
				<h1>
					{SITE.title ?? "Documentation"}
				</h1>
			</a>
		</div>
		<div class="flex gap-2">
		
		<!-- <button onclick="toggleDarkMode()">theme</button> -->
		{
			SITE.linkedin && (
				<a title="LinkedIn" class="opacity-80 hover:opacity-100 hover:bg-blue-50 p-2 rounded-full transition-colors" href={'https://www.linkedin.com/company/firmeasy/?originalSubdomain=pe' + SITE.linkedin}>
					<img class="h-11" src="/public/sup/linkedin.png" alt="LinkedIn logo" />
				</a>
			)
		}
		{
			SITE.youtube && (
				<a title="YouTube" class="opacity-80 hover:opacity-100 hover:bg-red-100 p-2 rounded-full transition-colors" href={'https://www.youtube.com/@' + SITE.youtube}>
					<img class="h-12" src="/public/sup/youtube.png" alt="YouTube logo" />
				</a>
			)
		}
		{
			SITE.facebook && (
				<a title="Facebook" class="opacity-80 hover:opacity-100 hover:bg-blue-200 p-2 rounded-full transition-colors" href={'https://www.facebook.com/' + SITE.facebook}>
					<img class="h-12" src="/public/sup/facebook.png" alt="Facebook logo" />
				</a>
			)
		}
		</div>
	</nav>
</header>

<script is:inline>
	// function toggleDarkMode() {
	// 	const body = document.body;
	// 	body.classList.toggle('dark');
	// 	console.log('dark mode toggled');
	// }
</script>
